@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff2") format("woff2"),
         url("Fonts/Booter - Zero Zero.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-image: url("Images/Header Background.jpg");
    background-size: cover;
    padding-bottom: 30px;
}

.nav {
    padding: 0;
    margin: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    /* Inline elements cannot have padding/margin on the top or bottom so the element must be inline-block */
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-nav {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgb(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 5em;
    font-family: "Booter - Zero Zero";
    color: white;
    font-weight: normal;
}

.band-name-large {
    font-size: 9em;
}

.section-header {
    font-family: "Metal Mania";
    font-size: 2.5em;
    font-weight: normal;
    color: #333;
    text-align: center;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.about-band-image {
    float: left;
    margin: 15px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.main-footer {
    padding: .5em 5%;
    background-color: #56CCF2;
    color: white;
}

.main-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
    height: auto;
}